@import "~antd/dist/antd.css";
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
html,
body {
  background-color: #f3f3f3 !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}


@media screen and (min-width: 576px) and (max-width: 1199px){
  .container, .container-lg, .container-md, .container-sm {
      max-width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.font16{
  font-size: 1.6rem;
}
.font15{
  font-size:  1.5rem;
}
.font14{
  font-size: 1.4rem;
}
.font13{
  font-size:1.3rem;
}
.fR{
  float: right;
}
.fL {
  float: left;
}
.cp{
  cursor: pointer;
}
.form-control{
  height: 3.7rem;
  padding : 0 3.5rem 0 1rem;
  font-size: 1.4rem;
}
.form-control.disabled{
  background-color: #e9ecef;
  opacity: 1;
  pointer-events: none;
}

button:focus{
  outline: none;
}
/* custom buttons */
.btn.c-btn-light,
.btn.btn.c-btn-primary{
  padding: 0.7rem 2.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.btn.c-btn-primary{
  border: 0.2rem solid #43b2b8;
  color: #43b2b8;
}

.btn.c-btn-light{
  background-color: #e4e5e5;
  border: 0.2rem solid #bbbdbe;
}

/* custom checkbox */
input[type=checkbox] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
}

input[type=checkbox] + label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

input[type=checkbox]:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type=checkbox]:disabled + label{
  pointer-events: none;
}

input[type=checkbox]:disabled + label:after{
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid #bbbdbe;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
input[type=checkbox]:disabled + label:before
{
  border: solid #bbbdbe;
}

/* form error message */
.error-continer{
  height: 1.7rem;
}
.errorMsg{
  font-size: 11px;
    color: #dd4b39;
    font-weight: 700;
    display: inherit;
}

/* hide number increment */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* ant message */
.ant-message-warning, .ant-message-success{
  display:flex  !important;
  text-align: left !important;
}

.message-warning .ant-message-notice-content{
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.message-success .ant-message-notice-content{
  background-color: #d4edda;
  border-color: #d4edda;
}

/* main menu */
.vertical-menu {
  position: relative;
  z-index: 2;
}

.vertical-menu .vmenu-content {
  width: 100%;
  max-width: 20rem;
  background: #fff;
  border: 1px solid #ebebeb;
  padding: 0;
  position: absolute;
  top: 3.2rem;
  left: 0;
  -webkit-box-shadow: 0 0 3.76px 0.24px rgb(0 0 0 / 15%);
  box-shadow: 0 0 3.76px 0.24px rgb(0 0 0 / 15%);
}
.vertical-menu .vmenu-content li {
  display: block;
  position: initial;
}

.vertical-menu .vmenu-content li a {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 2.4rem;
  text-transform: capitalize;
  word-wrap: break-word;
  background: #fff;
  color: #707070;
  padding: 0.8rem 2rem;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.vertical-menu li:hover>a {
  color: #10a341;
  background: #f9f9f9;
}
.vertical-menu .vmenu-content li a i,
.vertical-menu .vmenu-content li .verticale-mega-menu li a i  {
  position: absolute;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-menu .vmenu-content li .verticale-mega-menu, 
.submenu-item
{
  width: 20rem;
  position: absolute;
  z-index: 99;
  text-align: left;
  top: -0.1rem;
  left: 100%;
  background: #fff;
  display: block;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 0 3.76px 0.24px rgb(0 0 0 / 15%);
  box-shadow: 0 0 3.76px 0.24px rgb(0 0 0 / 15%);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.vertical-menu .vmenu-content li:hover>.verticale-mega-menu,
.vertical-menu .vmenu-content li .verticale-mega-menu li:hover>.submenu-item
{
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: 0.3s;
}

.vertical-menu .vmenu-content li:hover .verticale-mega-menu a{
  background: #fff;
}
.vertical-menu .vmenu-content li .verticale-mega-menu li a {
  overflow: hidden;
  line-height: 2.4rem;
  text-transform: capitalize;
  word-wrap: break-word;
  background: #fff;
  color: #707070;
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.vertical-menu .vmenu-content li .verticale-mega-menu li ul li {
  width: 100%;
}

/* menu mobile */
.mobiletab-container{
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 5;
}

.mobile-tabbar {
  display: flex;
  flex-grow: 1;
  height: 72px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 30%), 0 15px 30px 0 rgb(52 46 173 / 40%)
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
}
.menu-item .cart-badge{
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 0.5rem;
  left: 3.5rem;
  border-radius: 50%;
}
.menu-item:hover .cart-badge{
  color: #000000;
}
.menu-item:focus, .menu-item:hover {
  outline: none;
}
.menu-item:focus .menu-icons, .menu-item:hover .menu-icons {
  color: #342ead;
}
.menu-item:focus .menu-item-label, .menu-item:hover .menu-item-label {
  color: #342ead;
}

.menu-icons {
  display: block;
  margin-bottom: 4px;
  font-size: 26px;
  color: #37373a;
  transition: 0.25s ease;
}

.menu-item-label {
  display: block;
  font-size: 13px;
  color: #c2c0e6;
  transition: 0.25s ease;
}

body.offcanvas-open {
  overflow-y: hidden;
}
.offcanvas-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0,0,0,.5);
}

.offcanvas {
  font-size: 14px;
    font-weight: 400;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: auto;
    display: block;
    overflow: hidden;
    width: 400px;
    height: 100vh;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.offcanvas.offcanvas-mobile-menu {
  right: auto;
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.offcanvas.offcanvas-mobile-menu.offcanvas-open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.offcanvas .inner {
  padding: 20px;
}
@media screen and (max-width: 767px){
  .offcanvas .inner {
      height: calc(100% - 30px);
  }
}
@media screen and (max-width: 991px){
  .offcanvas .inner {
      overflow-y: scroll;
      height: 660px;
  }
}
@media screen and (max-width: 480px){
  .offcanvas .inner {
      padding: 10px;
  }
}
.offcanvas .offcanvas-close {
  position: relative;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  border: 0;
  background-color: transparent;
}
.offcanvas .offcanvas-close:before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 20px;
  height: 2px;
  content: "";
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #1d1d1d;
}
.offcanvas .offcanvas-close:after {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 20px;
  height: 2px;
  content: "";
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #1d1d1d;
}
.offcanvas .offcanvas-close:hover:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.offcanvas .offcanvas-close:hover:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.offcanvas .offcanvas-menu ul li {
  position: relative;
  display: block;
  line-height: 28px;
}

.offcanvas .offcanvas-menu ul li.active>.offcanvas-submenu{
  display: block;
  animation: dropdown 0.3s forwards;
}

.offcanvas .offcanvas-menu ul li .menu-expand {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 24px;
  height: 44px;
  cursor: pointer;
  background-color: transparent;
}
.offcanvas .offcanvas-menu ul li .menu-expand:after, .offcanvas .offcanvas-menu ul li .menu-expand:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 2px;
  content: "";
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #1d1d1d;
}
.offcanvas .offcanvas-menu ul li>.menu-expand:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.offcanvas .offcanvas-menu ul li.active>.menu-expand:after {
  -webkit-transform: rotate(0) scale(.75);
  transform: rotate(0) scale(.75);
}

.offcanvas .offcanvas-menu ul li a {
  display: block;
  position: relative;
  padding: 8px 20px;
  text-transform: capitalize;
  border-top: 1px solid #eee;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}
.offcanvas .offcanvas-menu ul li .offcanvas-submenu {
  position: static;
  top: auto;
  display: none;
  visibility: visible;
  width: 100%;
  min-width: auto;
  -webkit-transition: none;
  transition: none;
  opacity: 1;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.offcanvas .offcanvas-menu ul li .offcanvas-submenu li {
  line-height: inherit;
  display: block;
  position: relative;
}
.offcanvas .offcanvas-menu ul li .offcanvas-submenu li a {
  font-weight: 400;
  padding-left: 40px;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes flyout {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

/* custom css for product slider */
.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 35px;
  height: 35px;
  padding: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}
.slick-next {
  right: -37px;
}
.slick-prev {
  left: -26px;
}

.slick-prev.slick-disabled, .slick-next.slick-disabled{
  opacity: 0 !important;
}

/* prodcut card */
.product-item{
  min-height: 30rem;
  height: 100%;
  background-color: #fff;
  padding: 1rem;
  display: block;
  position: relative;
  word-wrap: break-word;
}

.slide .product-item{
  width: 19rem;
  margin-right: 1rem;
}

.product-item:hover{
  box-shadow: 0 0 1.2rem 0.1rem rgb(0 0 0 / 15%);
}

.product-item .discount-tag{
  width: 3.4rem;
  height: 3.4rem;
  background: #ed1b24;
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 3.4rem;
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;
}

.product-item .feature-shop{
  position: absolute;
  top: 0;
  right: 0.5rem;
  z-index: 2;
}
  .product-item .feature-shop a:hover{
    color: #fff;
  }

.product-item a .product-image {
  position: relative;
  text-align: center;
  min-height: 19rem;
}

.product-item a .product-title{
  height: 4rem;
  margin-top: 1.5rem;
  line-height: 1.8rem;
  color: #707070;
  text-transform: capitalize;
  font-size: 1.5rem;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-item a .product-star-rating{
  min-height: 2.0rem;
}
.star-size14{
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  font-size: 1.4rem;
}
.product-item a .product-price{
  font-weight: 500;
  font-size: 1.7rem;
  color: #f33535;
}
.product-item a .product-price .del{
  font-size: 1.5rem;
  line-height: 2.8rem;
  text-decoration: line-through;
  color: #9b9b9b;
}

@media screen and (max-width: 575px){
  .services .border-left{
    border-left: none !important;
  }
}

/* footer */
footer {
  background-color: #172337;
  color: #fff;
}
footer .footer-bottom {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

footer .social-connect li a {
  display: block;
  color: #1d1d1d;
  background: #fff;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
}
footer .social-connect li a.facebook:hover {
  background: #3b5998;
  color: #fff
}
footer .social-connect li a.twitter:hover {
  background: #00acee;
  color: #fff;
}
footer .section-title:after {
    background: #f33535;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60px;
    height: 2px;
    content: "";
}
footer .footer-menu li a {
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
}

footer .footer-menu li:hover>a {
  color: #f33535;
}

/* manage account */
.account-menu .ant-card-body{
  padding: 0;
}
.main-menu{
  position: absolute !important;
  top:-1px !important;
}
.main-menu a {
  color: transparent !important;
}

@media screen and (max-width: 768px) {
  .main-menu{
    position: relative !important;
  }
  .main-menu a {
    color: inherit !important;
  }
}

/* fixing issue of ant design  icon postion(not vertical align to center) */
.anticon svg{
  vertical-align: initial !important;
}

.ant-menu-item-selected.main-menu{
  background:transparent !important;
}
.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon
{
  font-size: 2rem;
}
.ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
  z-index: 5;
}

.page-header{
  border-bottom: 0.2rem solid #dee2e6;
}
.profile-chnage_psd{
  border-left: 0.1rem solid #dee2e6;
}

@media screen and (max-width: 576px) {
  .profile-chnage_psd{
    border-left: none;
  }
}

.address-container{
  min-height: 28rem;
  -webkit-box-shadow: 1px 1px 0.5rem 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 1px 0.5rem 0px rgba(0,0,0,0.45);
  box-shadow: 1px 1px 0.5rem 0px rgba(0,0,0,0.45);
}

.address-container .default-address.show{
  background-color: #d4edda;
  padding: 0.1rem 0.5rem;
}

.address-container .default-address.hide{
  background-color: transparent;
  visibility: hidden;
}

/* admin pannel */
.admin-wrapper .ant-layout-header{
  line-height: unset;
}
.admin-wrapper .trigger {
  padding: 0 2.4rem;
  font-size: 1.8rem;
  line-height: 5.2rem;
  cursor: pointer;
  transition: color 0.3s;
}

.admin-wrapper .trigger:hover {
  color: #1890ff;
}

.admin-wrapper .logo {
  color:#fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  height: 3.2rem;
  margin: 1.6rem;
}

.admin-wrapper .site-layout .site-layout-background {
  background: #fff;
}

.category-block{
  width: 30rem;
  margin-right: 1.5rem;
  border: 1px solid #d4d4d4;
  border-radius: 0.3rem;
}

.category-block ul li{
  padding: 12px 15px;
  cursor: pointer;
}
.category-block ul li.active{
  background-color: #f4f4f4;
  border-right: 3px solid #1890ff;
}

.category-block ul li.non-clickable,
.category-block ul li ul.sub-cat li.non-clickable
{
  cursor: inherit;
  pointer-events: none;
}
.category-block ul li.non-clickable .editcategory,
.category-block ul li.non-clickable .deletecategory{
  pointer-events: auto;
}

.category-block.subs .category-block.subs .addcategory{
  display: none;
}
.category-block.subs .editcategory{
  cursor: pointer !important;
}

.category-block.subs ul.sub-cat{
  position: absolute;
  left: 29.5rem;
  top: 0px;
  display: none;
}

.category-block.subs li.active ul.sub-cat{
  display: block;
}

.cat-label{
  color: #484848;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.brand-block{
  border: 0.75px solid #dadada;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 3px 12px 0 rgb(0 0 0 / 12%);
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.ant-picker-range-separator{
  margin-top: -1rem;
}

.webBannerPreivew{
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.mobileBannerPreivew{
  object-fit: cover;
  width: 100%;
  height: 170px;
}

.category-container {
  width: 100%;
  height: 27rem;
  display: block;
}
.main-category {
	width: 21.6rem;
  display: table-cell;
  position: relative;
  vertical-align: top;
	z-index: 2;
}
.category-container .scrollbar{
  height: 20rem;
  overflow-y: auto;
}
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.main-category .main-navigation {
  margin: 0 0 0 0;
  padding: 0;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
.main-category .main-navigation li a {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0 4px 1.5rem;
  text-decoration: none;
	white-space: nowrap;
  border-right: 3px solid transparent;
}
.main-category .main-navigation li a.active {
  background-color: #f4f4f4;
  border-right: 3px solid #1890ff;
}
.dropdown-submenu > .dropdown-menu {
  width: 21.6rem;
  font-size: inherit;
	top: 0;
  left: 100%;
  margin-left: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
  margin-top: -0.2rem
}
/* for main categories */
.dropdown-submenu .dropdown-menu.active {
	display: inline-table;
}
/* for sub categories */
.dropdown-submenu > a.active ~ .dropdown-menu.subs {
	display: inline-table;
}

.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.main-category ul {
	list-style: none;
}

.normal-input-readyonly.form-control[readonly]{
  background-color: #fff;
}

.select-subcate-container {
  position: absolute;
  top: 6.5rem;
  width: 97.2%;
  background-color: #fff;
  z-index: 1;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  height : 3.7rem;
  padding-top: 0.3rem;
}

.filter-container{
  background-color: #f7f8fa;
  border-radius: 0.3rem;
  border:1px solid #e8e8e8;
  padding: 1rem 0rem 2.5rem 0rem;
}

/* filter tab for react-table */
.filter-tab .activebar{
  width: 33%;
  height: 0.4rem;
  margin: auto;
  margin-top: 0.2rem;
  background-color: transparent;
}

.filter-tab .activebar.active{
  background-color: #dd4b39;
}

/* coupon */

.categories-coupon{
  min-width: 23.2rem;
  
}

.categories-coupon .scrollbar{
  height: 35rem;
  overflow-y: auto;
}


/* seller custom styling */
/* add product styling */
.product-picture span{
  display: block;
}
