@import "~antd/dist/antd.css";
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
html,
body {
  background-color: #f3f3f3 !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


@media screen and (min-width: 576px) and (max-width: 1199px){
  .container, .container-lg, .container-md, .container-sm {
      max-width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.font16{
  font-size: 1.6rem;
}
.font15{
  font-size:  1.5rem;
}
.font14{
  font-size: 1.4rem;
}
.font13{
  font-size:1.3rem;
}
.fR{
  float: right;
}
.fL {
  float: left;
}
.cp{
  cursor: pointer;
}
.form-control{
  height: 3.7rem;
  padding : 0 3.5rem 0 1rem;
  font-size: 1.4rem;
}

/* custom buttons */
.btn.c-btn-light,
.btn.btn.c-btn-primary{
  padding: 0.7rem 2.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.btn.c-btn-primary{
  border: 0.2rem solid #43b2b8;
  color: #43b2b8;
}

.btn.c-btn-light{
  background-color: #e4e5e5;
  border: 0.2rem solid #bbbdbe;
}

/* custom checkbox */
input[type=checkbox] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
}

input[type=checkbox] + label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

input[type=checkbox]:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type=checkbox]:disabled + label{
  pointer-events: none;
}

input[type=checkbox]:disabled + label:after{
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid #bbbdbe;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
input[type=checkbox]:disabled + label:before
{
  border: solid #bbbdbe;
}

/* form error message */
.error-continer{
  height: 1.7rem;
}
.errorMsg{
  font-size: 11px;
    color: #dd4b39;
    font-weight: 700;
    display: inherit;
}

/* ant message */
.ant-message-warning, .ant-message-success{
  display:flex  !important;
  text-align: left !important;
}

.message-warning .ant-message-notice-content{
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.message-success .ant-message-notice-content{
  background-color: #d4edda;
  border-color: #d4edda;
}

/* manage account */
.account-menu .ant-card-body{
  padding: 0;
}
.main-menu{
  position: absolute !important;
  top:-1px !important;
}
.main-menu a {
  color: transparent !important;
}

@media screen and (max-width: 768px) {
  .main-menu{
    position: relative !important;
  }
  .main-menu a {
    color: inherit !important;
  }
}

.ant-menu-item-selected.main-menu{
  background:transparent !important;
}
.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon
{
  font-size: 2rem;
}
.ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
  z-index: 5;
}

.page-header{
  border-bottom: 0.2rem solid #dee2e6;
}
.profile-chnage_psd{
  border-left: 0.1rem solid #dee2e6;
}

@media screen and (max-width: 576px) {
  .profile-chnage_psd{
    border-left: none;
  }
}

.address-container{
  min-height: 28rem;
  -webkit-box-shadow: 1px 1px 0.5rem 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 1px 0.5rem 0px rgba(0,0,0,0.45);
  box-shadow: 1px 1px 0.5rem 0px rgba(0,0,0,0.45);
}

.address-container .default-address.show{
  background-color: #d4edda;
  padding: 0.1rem 0.5rem;
}

.address-container .default-address.hide{
  background-color: transparent;
  visibility: hidden;
}