@import "~antd/dist/antd.css";
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
html,
body {
  background-color: #f3f3f3 !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


@media screen and (min-width: 576px) and (max-width: 1199px){
  .container, .container-lg, .container-md, .container-sm {
      max-width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.font16{
  font-size: 1.6rem;
}
.font15{
  font-size:  1.5rem;
}
.font14{
  font-size: 1.4rem;
}
.font13{
  font-size:1.3rem;
}
.fR{
  float: right;
}
.fL {
  float: left;
}
.cp{
  cursor: pointer;
}
.form-control{
  height: 3.7rem;
  padding : 0 3.5rem 0 1rem;
  font-size: 1.4rem;
}
.form-control.disabled{
  background-color: #e9ecef;
  opacity: 1;
  pointer-events: none;
}

/* custom buttons */
.btn.c-btn-light,
.btn.btn.c-btn-primary{
  padding: 0.7rem 2.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.btn.c-btn-primary{
  border: 0.2rem solid #43b2b8;
  color: #43b2b8;
}

.btn.c-btn-light{
  background-color: #e4e5e5;
  border: 0.2rem solid #bbbdbe;
}

/* custom checkbox */
input[type=checkbox] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
}

input[type=checkbox] + label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

input[type=checkbox]:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type=checkbox]:disabled + label{
  pointer-events: none;
}

input[type=checkbox]:disabled + label:after{
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid #bbbdbe;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
input[type=checkbox]:disabled + label:before
{
  border: solid #bbbdbe;
}

/* form error message */
.error-continer{
  height: 1.7rem;
}
.errorMsg{
  font-size: 11px;
    color: #dd4b39;
    font-weight: 700;
    display: inherit;
}

/* hide number increment */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* ant message */
.ant-message-warning, .ant-message-success{
  display:flex  !important;
  text-align: left !important;
}

.message-warning .ant-message-notice-content{
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.message-success .ant-message-notice-content{
  background-color: #d4edda;
  border-color: #d4edda;
}

/* manage account */
.account-menu .ant-card-body{
  padding: 0;
}
.main-menu{
  position: absolute !important;
  top:-1px !important;
}
.main-menu a {
  color: transparent !important;
}

@media screen and (max-width: 768px) {
  .main-menu{
    position: relative !important;
  }
  .main-menu a {
    color: inherit !important;
  }
}

/* fixing issue of ant design  icon postion(not vertical align to center) */
.anticon svg{
  vertical-align: initial !important;
}

.ant-menu-item-selected.main-menu{
  background:transparent !important;
}
.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon
{
  font-size: 2rem;
}
.ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
  z-index: 5;
}

.page-header{
  border-bottom: 0.2rem solid #dee2e6;
}
.profile-chnage_psd{
  border-left: 0.1rem solid #dee2e6;
}

@media screen and (max-width: 576px) {
  .profile-chnage_psd{
    border-left: none;
  }
}

.address-container{
  min-height: 28rem;
  -webkit-box-shadow: 1px 1px 0.5rem 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 1px 0.5rem 0px rgba(0,0,0,0.45);
  box-shadow: 1px 1px 0.5rem 0px rgba(0,0,0,0.45);
}

.address-container .default-address.show{
  background-color: #d4edda;
  padding: 0.1rem 0.5rem;
}

.address-container .default-address.hide{
  background-color: transparent;
  visibility: hidden;
}

/* admin pannel */
.admin-wrapper .ant-layout-header{
  line-height: unset;
}
.admin-wrapper .trigger {
  padding: 0 2.4rem;
  font-size: 1.8rem;
  line-height: 5.2rem;
  cursor: pointer;
  transition: color 0.3s;
}

.admin-wrapper .trigger:hover {
  color: #1890ff;
}

.admin-wrapper .logo {
  color:#fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  height: 3.2rem;
  margin: 1.6rem;
}

.admin-wrapper .site-layout .site-layout-background {
  background: #fff;
}

.category-block{
  width: 30rem;
  margin-right: 1.5rem;
  border: 1px solid #d4d4d4;
  border-radius: 0.3rem;
}

.category-block ul li{
  padding: 12px 15px;
  cursor: pointer;
}
.category-block ul li.active{
  background-color: #f4f4f4;
  border-right: 3px solid #1890ff;
}

.category-block ul li.non-clickable,
.category-block ul li ul.sub-cat li.non-clickable
{
  cursor: inherit;
  pointer-events: none;
}
.category-block ul li.non-clickable .editcategory,
.category-block ul li.non-clickable .deletecategory{
  pointer-events: auto;
}

.category-block.subs .category-block.subs .addcategory{
  display: none;
}
.category-block.subs .editcategory{
  cursor: pointer !important;
}

.category-block.subs ul.sub-cat{
  position: absolute;
  left: 29.5rem;
  top: 0px;
  display: none;
}

.category-block.subs li.active ul.sub-cat{
  display: block;
}

.cat-label{
  color: #484848;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.brand-block{
  border: 0.75px solid #dadada;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 3px 12px 0 rgb(0 0 0 / 12%);
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.ant-picker-range-separator{
  margin-top: -1rem;
}

.webBannerPreivew{
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.mobileBannerPreivew{
  object-fit: cover;
  width: 100%;
  height: 170px;
}

.category-container {
  width: 100%;
  height: 27rem;
  display: block;
}
.main-category {
	width: 21.6rem;
  display: table-cell;
  position: relative;
  vertical-align: top;
	z-index: 2;
}
.category-container .scrollbar{
  height: 20rem;
  overflow-y: auto;
}
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.main-category .main-navigation {
  margin: 0 0 0 0;
  padding: 0;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
.main-category .main-navigation li a {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0 4px 1.5rem;
  text-decoration: none;
	white-space: nowrap;
  border-right: 3px solid transparent;
}
.main-category .main-navigation li a.active {
  background-color: #f4f4f4;
  border-right: 3px solid #1890ff;
}
.dropdown-submenu > .dropdown-menu {
  width: 21.6rem;
  font-size: inherit;
	top: 0;
  left: 100%;
  margin-left: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
  margin-top: -0.2rem
}
/* for main categories */
.dropdown-submenu .dropdown-menu.active {
	display: inline-table;
}
/* for sub categories */
.dropdown-submenu > a.active ~ .dropdown-menu.subs {
	display: inline-table;
}

.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.main-category ul {
	list-style: none;
}

.normal-input-readyonly.form-control[readonly]{
  background-color: #fff;
}

.select-subcate-container {
  position: absolute;
  top: 6.5rem;
  width: 97.2%;
  background-color: #fff;
  z-index: 1;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  height : 3.7rem;
  padding-top: 0.3rem;
}

.filter-container{
  background-color: #f7f8fa;
  border-radius: 0.3rem;
  border:1px solid #e8e8e8;
  padding: 1rem 0rem 2.5rem 0rem;
}

/* filter tab for react-table */
.filter-tab .activebar{
  width: 33%;
  height: 0.4rem;
  margin: auto;
  margin-top: 0.2rem;
  background-color: transparent;
}

.filter-tab .activebar.active{
  background-color: #dd4b39;
}

/* coupon */

.categories-coupon{
  min-width: 23.2rem;
  
}

.categories-coupon .scrollbar{
  height: 35rem;
  overflow-y: auto;
}


/* seller custom styling */
/* add product styling */

.product-picture span{
  display: block;
}
