.topnav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
	height:7rem;
	min-height: 10vh;
}

.topnav_searchProduct {
	width: 100% !important;
	height: 4.0rem;
	border-radius: 50px;
	font-size: 14px;
	border: none;
	background: #f0f0f0;
}

.topnav_searchProduct::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.topnav_searchProduct:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.topnav_searchProduct::placeholder {
	color: #aaa;
}

.topnav_searchBtn {
	position: absolute;
	top: 0;
	right: 0;
	width: 5.5rem;
	height: 100%;
	color: #000;
	text-align: center;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.topnav_searchBtn:active,
.topnav_searchBtn:focus {
	outline: none;
	box-shadow: none;
}

.topnav_cartBadge {
	width: 2rem;
	height: 2rem;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: -1rem;
	left: 17px;
	border-radius: 50%;
}

/* search bar */
.search {
	width: 100%;
  }
.search_backBtn{
	position: absolute;
	top: 0.8rem;
	left: 0.8rem;
	width: 2.5rem;
	z-index: 1;
}
.search_searchProduct{
	width: 100%;
}
.search_searchBtn{
	position: absolute;
	top: 0;
	right: 0;
	width: 5.5rem;
	height: 100%;
}
.search_searchBtn:active,
.search_searchBtn:focus {
	outline: none;
	box-shadow: none;
}